body {
    margin: 10px;
    background-color: tomato;
    max-width: 900px;
    min-height: 488.5px;
    box-sizing: border-box;
}

#box {
    display:flex;
    justify-content: space-between;
    min-width: 392px;
    min-height: 491px;
}

#right {
    flex: 1;
    height: 50vh;
    width: 50vw;
}

#left {
    flex: 1;
    height: 50vh;
    width: 50vw;
    position: relative;
    font-family: monospace;
}

#center {
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

#numberOfClicks {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

#pointsPerSecond{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}

#btnBox {
    display: flex;
  justify-content: center;
}

#timBtn > img {
    width: 50%;
    height:auto;
}

#timBtn{
    width: 200px;
    height: 200px;
    padding:10px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
}


#resetButton {
    align-items: center;
}

.shop-item {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#jezBox {
    display: flex;
  justify-content: center;
  align-items: center;
}

#jez {
    width: 15%;
    height:15%;
    margin-top:15px;
    padding:15px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
    overflow:hidden;
}

#buyJez {
    display: flex;
    justify-content: center;
}

#buyJezBtn {
    height: 60%;
    margin-left: 30px;
    background-color:#FFD700;
    font-size: 2em;
    font-weight:bold;
    font-family: Snell Roundhand, cursive;
    border: 5px solid black;
    border-radius: 10%;
}

button:hover{
    cursor: pointer;
}


#shopHead {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
}

#clickMe {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5em;
    padding:20px 0;
}

#shop {
    background-color: #FFBF47;
    border:6px solid black;
    padding:10px;
}

.buyButtons {
    border: 3px solid black;
    border-radius:20%;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3e9c35;
}

.buyButtons:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#buyJezBtn:hover {
    font-size: 2.2em;
    background: radial-gradient(circle, white 0%, yellow 100%);
    border-radius: 20px;
}

#buyJezBtn:hover {animation: shaking 0.4s infinite;}
@keyframes shaking {
    0% {transform: translateX(0) rotate(0deg);}
    25% {transform: translateX(15px) rotate(5deg);}
    50% {transform: translateX(0px) rotate(0deg);}
    75% {transform: translateX(-15px) rotate(-5deg);}
    100% {transform: translateX(0px) rotate(0deg);}
 }

 #jez:hover {
    transform: rotate(360deg);
 }
   
 #index{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #animation {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    animation: fadeInOut .5s ease-out;
}
@keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

#jez-item {
    padding-top: 10px;
    border:none;
}

@media (max-width: 686px) {
    #box {
      width: 100%; 
      flex-wrap: wrap; 
      min-height: 910px;
    }
    #right,#left {
        width:100%;
        margin:20px;
    }
    #center {
        width: 100%; 
        flex-wrap: wrap; 
        margin-top: 100px;
    }
    
}


.hidden {
    display: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }